#hd .navbar-expand-lg.fancy:not(.fixed) .navbar-collapse-wrapper {
    margin-top: 1rem !important;
}

#opc {
    background-color: rgba(255, 255, 255, 0.2);
}

.mypage-nav>li>a {
    color: #60697b !important;
}

.mypage-nav li:hover {
    background-color: rgba(164, 174, 198, 0.1) !important;
    width: 100%;
}

#mysearch {
    width: 101%;
    /* border-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(125deg, #9040db, #ff72c2 50%, #ffd84f) !important; */
    border: 3px solid transparent;
    border-radius: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(125deg, #9040db, #ff72c2 50%, #ffd84f) !important;
    ;
    background-origin: border-box;
    background-clip: content-box, border-box;
}


#mysearch input {
    display: block;
    width: 100%;
    /* padding: 0.6rem 1rem; */
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.7;
    color: #60697b;
    background-color: #fafafa;
    border: 1px solid rgba(8, 60, 130, 0.0);
    border-radius: 100px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}