.w-85 {
    width: 85% 
}

.form-delete {
    display: block;
    width: 65% ;
    /* padding: 0.6rem 1rem; */
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.7;
    color: rgb(218, 8, 8);
    background-color: #fefefe;
    background-clip: padding-box;
    appearance: none;
    border-radius: 0.4rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.info-title {
    color: #343F52;
}

.btn-edit {
    --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.05) !important;
    --bs-btn-color: #3f78e0;
    --bs-btn-bg: #e0e9fa;
    --bs-btn-border-color: #ffffff;

    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #3f78e0;
    --bs-btn-hover-border-color: #ffffff;

    --bs-btn-focus-shadow-rgb: 200, 216, 246;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #3f78e0;
    --bs-btn-active-border-color: #e0e9fa;
    --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);

    --bs-btn-disabled-color: #3f78e0;
    --bs-btn-disabled-bg: #ffffff;
    --bs-btn-disabled-border-color: #e0e9fa;
}

.btn-delete {
    --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.05) !important;
    --bs-btn-color: #e03f3f;
    --bs-btn-bg: #fae3e3;
    --bs-btn-border-color: #ffffff;

    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #e03f3f;
    --bs-btn-hover-border-color: #ffffff;

    --bs-btn-focus-shadow-rgb: 200, 216, 246;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #e03f3f;
    --bs-btn-active-border-color: #fae3e3;
    --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);

    --bs-btn-disabled-color: #e03f3f;
    --bs-btn-disabled-bg: #ffffff;
    --bs-btn-disabled-border-color: #fae3e3;
}

.ms-20-5{
    margin-left: 10.3rem;
}

.pt-1-5 {
    padding-top: 0.37rem;
}

.form-readonly{
    background-color: #f3f3f5 !important;
}

.pointer-block{
    pointer-events: none !important;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.password-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7rem;
    cursor: pointer;
    font-size: 0.9rem;
    color: #959ca9;
}