<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loven.mapper.CommentMapper">

    <select id="commentList" resultType="Comment">
        select * from blind_cmt where seq=#{seq}
    </select>

    <insert id="commentInsert" parameterType="Comment">
        INSERT INTO
        blind_cmt (content, reg_date, seq, id)
        VALUES(#{content},sysdate(),#{seq},#{id})
    </insert>

    <update id="commentUpdate" parameterType="Comment">
        UPDATE blind_cmt
        SET
        CONTENT = #{content}
        WHERE cmt_seq = #{cmt_seq}
    </update>

    <delete id="commentDelete" parameterType="Comment">
        DELETE FROM blind_cmt WHERE cmt_seq = #{cmt_seq}
    </delete>
</mapper>