<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>static content</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<form method="post" action="/">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="id">아이디</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="사용자 아이디">
        </div>
        <div class="form-group">
            <label for="pw">비밀번호</label>
            <input type="password" class="form-control" id="pw" name="pw" placeholder="사용자 비밀번호">
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="사용자 이메일">
        </div>
        <div class="form-group">
            <label for="nick">닉네임</label>
            <input type="text" class="form-control" id="nick" name="nick" placeholder="사용자 닉네임">
        </div>
        <div class="form-group">
            <label for="company_name">회사이름</label>
            <input type="text" class="form-control" id="company_name" name="company_name" placeholder="회사 이름">
        </div>
        <button type="submit" class="btn btn-primary">가입 완료</button>

        <a id="kakao-login-btn" href="javascript:loginWithKakao()">
            <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222"
                 alt="카카오 로그인 버튼" />
        </a>
        <p id="token-result"></p>

    </div>

    <!-- 카카오 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
            integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous"></script>
    <script>  Kakao.init('47bf5fbeaeac14949d9e8c3baa8b891d'); //발급받은 키 중 javascript키를 사용해준다.
              console.log(Kakao.isInitialized()); // sdk초기화여부판단
    </script>

    <script>

          function loginWithKakao() {
            Kakao.Auth.authorize({
              redirectUri: 'http://localhost:8088/kakao',
            });
          }

          displayToken()
          function displayToken() {
            var token = getCookie('authorize-access-token');

            if(token) {
              Kakao.Auth.setAccessToken(token);
              Kakao.Auth.getStatusInfo()
                .then(function(res) {
                  if (res.status === 'connected') {
                    document.getElementById('token-result').innerText
                      = 'login success, token: ' + Kakao.Auth.getAccessToken();
                  }
                })
                .catch(function(err) {
                  Kakao.Auth.setAccessToken(null);
                });
            }
          }

          function getCookie(name) {
            var parts = document.cookie.split(name + '=');
            if (parts.length === 2) { return parts[1].split(';')[0]; }
          }

    </script>

</form>
</body>
</html>